.text_p p{
    line-height: 33px;
    text-align: justify;
}
.font_11{
    font-size: 11px !important;
}
.font_12{
    font-size: 12px !important;
}
.font_13{
    font-size: 13px !important;
}
.font_14{
    font-size: 14px !important;
}
.font_15{
    font-size: 15px !important;
}
.font_16{
    font-size: 16px !important;
}
.font_17{
    font-size: 17px !important;
}
.font_18{
    font-size: 18px !important;
}
.font_19{
    font-size: 19px !important;
}
.font_20{
    font-size: 20px !important;
}
.font_21{
    font-size: 21px !important;
}
.font_22{
    font-size: 22px !important;
}
.font_23{
    font-size: 23px !important;
}
.font_24{
    font-size: 24px !important;
}

.font_28{
    font-size: 28px !important;
}
.position-relative{
    position: relative;
}
.text_p p{
    line-height: 30px;
    text-align: justify;
}